<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="header">
    <div class="logo">
        <a th:href="@{/web/dashboard}">Jtrac</a>
    </div>
    <div class="nav">
        <a th:href="@{/web/dashboard}">Dashboard</a>
        <a th:href="@{/web/item/search}">Search</a>
        <a th:href="@{/web/item/new}">New Item</a>
    </div>
    <div class="user-nav">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
</body>
</html>