<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="header"
     th:if="${loginPage != true}"
     class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/web/dashboard}">Jtrac</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/web/dashboard}"
                       th:classappend="${currentPath != null and currentPath.startsWith('/web/dashboard')} ? ' active' : ''">
                        <i class="bi bi-speedometer2 fs-4"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/web/item/search}"
                       th:classappend="${currentPath != null and currentPath.startsWith('/web/item/search')} ? ' active' : ''">
                        <i class="bi bi-search fs-4"></i>
                    </a>
                </li>
            </ul>

            <!-- Индикатор WebSocket -->
            <div class="me-3 d-flex align-items-center">
                <i id="ws-indicator" class="bi bi-bell-fill fs-4 text-secondary" title="WebSocket disconnected"></i>
            </div>
            <div class="dropdown me-3">
                <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="${currentUser.avatarUrl != null ? currentUser.avatarUrl : '/resources/avatar-default.png'}"
                         alt="Avatar" width="32" height="32" class="rounded-circle me-2">
                    <span th:text="${currentUser.name}">User Name</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" th:href="@{/web/profile}">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form th:action="@{/web/logout}" method="post">
                            <button class="dropdown-item" type="submit">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
