<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Search Items</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jtrac.css}"/>
</head>
<div th:insert="~{fragments/header :: header}"></div>
<body>
<div layout:fragment="content">
    <div class="heading">
        <span>Refine Search</span>
    </div>
    <form th:action="@{/web/item/search}" th:object="${itemSearchForm}" method="get">
        <input type="hidden" name="search" value="true" />
        <input type="hidden" name="spaceId" th:value="${spaceId}" />
        <table class="jtrac">
            <tr>
                <td class="label">Summary</td>
                <td><input type="text" th="*{summary}" /></td>
            </tr>
            <tr>
                <td class="label">Assigned To</td>
                <td>
                    <select th:field="*{assignedToId}">
                        <option value="">-- Any --</option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">User Name</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">Status</td>
                <td>
                    <select th:field="*{status}">
                        <option value="">-- Any --</option>
                        <option value="1">Open</option>
                        <option value="2">Closed</option>
                        <!-- This should be made dynamic based on space metadata in a future step -->
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Search"/>
                    <input type="button" value="Cancel" onclick="location.href='/web/dashboard'"/>
                </td>
            </tr>
        </table>
    </form>

    <br/>

    <div class="heading" th:if="${items != null}">
        <span>Search Results</span>
    </div>

    <table class="jtrac" th:if="${items != null}">
        <thead>
        <tr>
            <th>Ref ID</th>
            <th>Summary</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Logged By</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items.isEmpty()}">
            <td colspan="5">No items found matching your criteria.</td>
        </tr>
        <tr th:each="item : ${items}">
            <td><a href="#" th:href="@{'/web/item/' + ${item.id}}" th:text="${item.refId}">ITEM-1</a></td>
            <td th:text="${item.summary}">Summary of the item</td>
            <td th:text="${item.statusValue}">Open</td>
            <td th:text="${item.assignedTo?.name}">Another User</td>
            <td th:text="${item.loggedBy?.name}">Some User</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
