<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${'Item ' + item.refId}">Item Details</title>
</head>
<body>
<div layout:fragment="content">
    <div class="heading">
        <span th:text="${item.refId + ' - ' + item.summary}">ITEM-1 - Summary</span>
    </div>

    <table class="jtrac">
        <tr>
            <td class="label">Status</td>
            <td th:text="${item.statusValue}">Open</td>
            <td class="label">Logged By</td>
            <td th:text="${item.loggedBy?.name}">Some User</td>
        </tr>
        <tr>
            <td class="label">Assigned To</td>
            <td th:text="${item.assignedTo?.name}">Another User</td>
            <td class="label">Date Submitted</td>
            <td th:text="${#dates.format(item.timeStamp, 'yyyy-MM-dd HH:mm')}">2025-07-25 10:00</td>
        </tr>
        <tr>
            <td class="label" colspan="1">Detail</td>
            <td colspan="3" th:text="${item.detail}">Detailed description of the item.</td>
        </tr>
    </table>

    <br/>

    <div class="heading">
        <span>History</span>
    </div>
    <table class="jtrac">
        <tr th:each="history : ${item.history}">
            <td th:text="${#dates.format(history.timeStamp, 'yyyy-MM-dd HH:mm')}">2025-07-25 10:05</td>
            <td th:text="${history.loggedBy?.name}">User Name</td>
            <td>
                <p th:text="${history.comment}"></p>
                <!-- More history details can be added here -->
            </td>
        </tr>
    </table>

    <br/>

    <div class="heading">
        <span>Update Item</span>
    </div>
    <form th:action="@{'/web/item/' + ${item.id}}" th:object="${itemUpdateForm}" method="post">
        <table class="jtrac">
            <tr>
                <td class="label">Comment</td>
                <td><textarea rows="5" cols="80" th:field="*{comment}"></textarea></td>
            </tr>
            <!-- Fields for changing status, assignee etc. will go here -->
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>
